ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color: #190718;
  /*background-image: url("7.JPG");*/
}

li {
  float: left;
    font-size: 20px;
     font-weight: bold;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(255, 255, 255);
  color: #0000ff;
}
