body{
    background-image: url(3.jpeg);
    background-position: top;
    background-size: cover;
}

.menu{
    width: 100% ;
    background: #142b47;
    overflow: auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 60px ; 
}

.menu li {
    float: left ;
}
.menu ul li a{
    background: #142b47 ;
    text-decoration: none ;
    width: 130px ;
    display: block ;
    text-align: center ;
    color: #f2f2f2 ;
    font-size: 18px ;
    font-family: sans-serif ;
    letter-spacing: 0.5px ;
}
.menu li a:hover{
   /* color: #fff;*/
    color: orange;
    opacity: ;
    font-size: 19px ;
}


input[type=text]{
    padding: 7px;
    border: none ;
    font-size: 16px;
    font-family: sans-serif;
}

button{
    float: right ;
    background: orange;
    color: white ;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    position: relative;
    padding: 7px;
    font-family: sans-serif;
    border: none;
    font-size: 16px;
}
.box{
color: #fff;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 580px;
   padding: 40px  ;
    background: rgba(0,0,0,.8) ;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5); 
    border-radius: 10px ;

}

.box h1{
    color: #fff;
    margin:250 100 30px;
    padding: 0;
    text-align: center;
      
}

.box .inputBox{
    position: relative ;
}
.box .inputBox input{
    width: 100%;
    padding:  10px 0 ;
    font-size: 16px;  
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid orange;
    outline: none;
    background: transparent ;
    
    
}
.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 1.4s;
    
}


.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;    
}

.box input[type="submit"]{
    
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background:  orange;;
    padding: 10px 20px ;
    cursor: pointer;
    border-radius: 10px ;
    
}
.head{
  text-align: center;background-color:white; border: 1px solid #ddd;width: 91.80%;
  margin-top: 60px;
  margin-bottom: 0px;
  margin-right: 150px;
  margin-left: 22px;padding:20px;
  font-size: 40px;
  font-style: bold;
      }
#customers {
  border-collapse: collapse;
  width: 95%;
   background-color:white;
    /*margin-top: 100px;*/
  margin-bottom: 50px;
  margin-right: 150px;
  margin-left: 22px;
}
